.firstlayer{
    display: flex;
    justify-content: space-between;
}

.butn{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 3px;
    border-radius: 25%;
}

.secondlayer {
    background-image: url(https://illustrarch.com/wp-content/uploads/2025/02/Modern-Architecture-2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text1{
    width: 550px;
}

.btn{
    padding: 7px;
    border-color: rgb(163, 10, 10);
    border-radius: 45%;
    border: 1px;
}
